@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
    scroll-behavior: smooth;
}

select, input {
    border: 1px solid violet;
    outline: none;
}

button {
    border: 1px solid indigo;
    padding: 5px 10px;
}